#!/bin/sh

#---------------------------------------------------------
# script de check et update automatique de la bd aide    #
# - vérifie la bd puis la met à jour                     #
# - enregistre les résultats des actions dans un fichier #
# - change la bd courante par la nouvelle                #
#--------------------------------------------------------#


DATE=$(date +"%m%d%Y")
report_file="{{log_dir}}/aide-report-$DATE.log"
configfile={{config_file | default('/etc/aide.conf')}} 
dbdir={{db_dir | default('/var/lib/aide')}}
aidecmd=$(which aide)

echo "---------- Aide check $(date) ----------------" >> $report_file
$aidecmd --check -c $configfile >> $report_file


echo "------ Aide update ------" >> $report_file
$aidecmd --update -c $configfile >> $report_file
/bin/mv $dbdir/aide.db.new.gz $dbdir/aide.db.gz


